/* HERO */
.hero_dots {
  display: flex !important;
  width: fit-content;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 98px;
  left: 298px;
  z-index: 700;
}

.hero_dots li {
  color: rgba(0, 0, 0, 0);
  background-color: white;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  -webkit-transition: all 0.3s east-in-out;
  -moz-transition: all 0.3s east-in-out;
  transition: all 0.3s east-in-out;
}

.hero_dots li:hover {
  background-color: theme(colors.logo_grey);
}

.hero_dots button {
  width: 14px;
  height: 14px;
}

.hero_dots .slick-active,
.hero_dots .slick-active:hover {
  background-color: theme(colors.logo_green);
}
